# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/

# DATA (ONLY raw dataset, NOT DVC files)
data/MachineLearningRating_v3.txt

# Jupyter Notebook
*.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# Environment variables
.env

# Build files
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db